@import "../node_modules/bootstrap/scss/bootstrap";
@import "mixins";
@import "base/colours";
@import "base/typography";
@import "base/header";
@import "base/heroshot";
@import "base/buttons";
@import "base/programm";
@import "base/forms";
@import "base/popups";
@import "base/spinner";
@import "base/sectioncards";
@import "base/testimonials";
@import "base/transfer";
@import "base/partners";
@import "base/greetings";
@import "plugins/jquery.accordion";

.jarallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.cc-section {
	background-image: url(../images/ConnectCrimea_pattern.svg);
	background-repeat: repeat no-repeat;
    background-position: left calc(100% + 135px);
    background-size: 1270px;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.cc-shadow {
	box-shadow: 0 15px 20px rgba(13,13,38,0.5);
}

.center-flex-parent {
  display:flex;
  align-items:center;
}


.cc-section-t2 {
	background-color: #e8ecef;
	//border-top: solid 1px #888;
	border-bottom: solid 1px #888;
	background-image: url(../images/delprogbg.jpg);
	background-position: bottom right;
	background-repeat: no-repeat;
    padding-bottom: 5rem;
    padding-top: 2.2rem;
    background-size: cover;
}

.cc-section-t2.audience-b {
	background-image: url(../images/constructionbg.jpg);
    background-color: #21235c;
    color: #fff;	
}

.cc-section-t2.cic2017 {
	background-image: url(../images/cicbg.jpg);
	background-position: center;
}

.cc-section-t2.bg4 {
	background-image: url(../images/constructionbg.jpg);
    background-position: center;
    color: #fff;
}

.cc-tip {
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem 1rem;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.1);
}

.img-shifted {
    max-width: 260%;
    margin-left: -100%;
    margin-top: -15%;
}

.cc-card {
	ul {font-size: .8rem}
	&:hover {
		background-color: rgba(255,255,255,0.4);
	}
}

.cc-speakerbx {
  margin: 1rem 0;
}

.cc-speaker {
	background-color: #21235c;
	padding: 1rem;
    height: 100%;
	display: inline-block;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.1);
	> * {color: #fff !important}
	h4, h6 {text-align: center;}
	h4 {font-size: 1.2rem !important}
  img {
    margin-bottom: 0.5rem;
  }
}

.cc-tip2 {
	border-radius: 10px;
  padding: 1rem 1rem 0;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid;
    a {color: #fff !important; }
}



.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

#carousel-testimonials .carousel-indicators {bottom: -40px; margin-bottom: 40px;}
#carousel-testimonials .carousel-indicators li {
	width: 20px;
    height: 20px;
    border-radius: 50%;
    max-width: 20px;
    background-color: rgba(0,0,0,.25);
    &.active {background-color: rgba(0,0,0,.7);}
}


// #carousel-testimonials .carousel-item {background-color: #fff; }

.carousel-control-next-icon.dark {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon.dark {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 2rem;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.snall-logo {
  display: none;
}



@include media-breakpoint-down(xs) {
  .snall-logo {
    display: block;
  }

  .big-logo {
    display: none;
  }
}