.btn-hero {
	// background: #006abe; /* Old browsers */
	// background: -moz-linear-gradient(left, #006abe 0%, #089cc3 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(left, #006abe 0%,#089cc3 100%); /* Chrome10-25,Safari5.1-6 */
	background: $cc-bluegrad-transp;
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006abe', endColorstr='#089cc3',GradientType=1 ); /* IE6-9 */
	border: 3px solid #fff;
	font-size: 2rem;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: #fff;
    font-size: 1.52rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
		background: $cc-bluegrad;
    }

  &.ticket {
    background: linear-gradient(to left, rgba(248, 153, 29, 0.8) 0%, rgba(255, 193, 7, 0.8) 100%);
    &:hover {
      color: #fff;
      text-decoration: none;
      background: linear-gradient(to left, #f8991d 0%, #ffc107 100%);
      //background-image: radial-gradient(circle at 0 50%, rgba(#fff,0) $hole, #fff ($hole + .1em)), radial-gradient(circle at 100% 50%, rgba(#fff,0) $hole,#fff($hole + .1em));

    }

  }

}