.competiition-section {
	background-image: url(/images/Polygon-Backgrounds-4.png);
	padding: 3rem 0;
	box-shadow: inset 0px 4px 16px rgba(25, 25, 25, 0.5);
	background-size: contain;
}

.atan500 {
	padding: 1.2rem;
	background: linear-gradient(45deg, #F3741B 0%,#F7F569 50% , #F9F6EC 100%);
	    @include media-breakpoint-down(sm) { background: linear-gradient(180deg, #F3741B 0%,#F7F569 50% , #F9F6EC 100%); }

	position: relative;	


	h3 {
		font-size: 4rem;	    
	    color: #ffffff;
	    text-shadow: 2px 2px 0 #fd5a00;
	    text-transform: uppercase;
	    text-align: center;
			@include media-breakpoint-down(sm) { 
				font-size: 2.5rem;
	    	}
	}

	.competiition__date {
		font-family: 'solomon_sans_bookregular';
    	font-size: 3rem;
    	text-align: center;
	    @include media-breakpoint-down(sm) { font-size: 1.5rem; }


	}

	.competiition__place {
		font-family: 'solomon_sans_bookregular';
    	font-size: 1.1rem;
    	text-align: center;

    	p {
    		font-weight: bold;
    		line-height: 1.1em;
    	}	
	}

	.atan_logo {
		width: 60%;
		display: block;
		margin: 0 auto;
		margin-bottom: 0.5rem;
	}


	.competition__logos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			margin-bottom: 1rem;
			max-width: 100%;
		}
	}


	.ticket_body {
		outline: 3px rgba(255, 255, 255, 0.16) dashed;
    	border: 3px rgba(0, 0, 0, 0.6) dashed;
	    padding: 3rem;
	    @include media-breakpoint-down(sm) { padding: 1.5rem; }
	    
	     &:before {
			content: "";
		    position: absolute !important;
		    z-index: 100;
		    top: 0;
		    left: 0;
		    border-right: #8274aa 3rem solid;
		    border-top: #8374ab 3rem solid;
		    border-radius: 0 0 3rem 0;
		    z-index: 800;


			 }

			 &:after {
				 content: "";
		    position: absolute !important;		 
		    z-index: 100;
		    top: 0;
		    right: 0;
		    border-left: #8274aa 3rem solid;
		    border-top: #8374ab 3rem solid;
		    border-radius: 0 0 0 3rem;

			 }
	 }

	 &:before {
		 content: "";
    position: absolute !important;
    z-index: 100;
    bottom: 0;
    left: 0;
    border-right: #8274aa 3rem solid;
    border-top: #8374ab 3rem solid;
    border-radius: 0 3rem 0 0;

	 }

	 &:after {
		 content: "";
    position: absolute !important;		 
    z-index: 100;
    bottom: 0;
    right: 0;
    border-left: #8274aa 3rem solid;
    border-top: #8374ab 3rem solid;
    border-radius: 3rem 0 0 0;

	 }

	.ribbon {
	      position: absolute;
    left: -8px;
    top: -8px;
    z-index: 801;
    overflow: hidden;
    width: 150px;
    height: 150px;
    text-align: right;
	}
	.ribbon span {
	 	font-size: 1rem;
	    font-weight: bold;
	    color: #FFF;
	    text-transform: uppercase;
	    text-align: center;
	    line-height: 2rem;
	    transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    width: 150px;
	    display: block;
	    background: #79A70A;
	    background: linear-gradient(#D11E26 0%, #D11E26 100%);
	    box-shadow: 0 3px 10px -5px black;
	    position: absolute;
	        top: 30px;
    left: -29px;
	}
	.ribbon span::before {
	  content: "";
	  position: absolute; left: 0px; top: 100%;
	  z-index: -1;
	  border-left: 3px solid #D11E26;
	  border-right: 3px solid transparent;
	  border-bottom: 3px solid transparent;
	  border-top: 3px solid #D11E26;
	}
	.ribbon span::after {
	  content: "";
	  position: absolute; right: 0px; top: 100%;
	  z-index: -1;
	  border-left: 3px solid transparent;
	  border-right: 3px solid #D11E26;
	  border-bottom: 3px solid transparent;
	  border-top: 3px solid #D11E26;
	}
}