.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cc-section.featured-section {
	padding-bottom: 8rem;
	
	.cc-h2 {
		font-weight: bold;

	}

	.featured-title {	
    text-transform: uppercase;
    text-align: center;	
	}


.carousel-features {
	width: 80%;
	margin: 0 auto;
	box-shadow: 2px 2px 30px black;
	border-radius: 5px;
	.carousel-inner {

	}	
}

.featured-box {
	border-radius: 5px;
	padding-top: 5rem;
	height: 650px;
	margin: 0 auto;
	width: 80%;
	margin: 0 auto;
	box-shadow: 2px 2px 30px black;
	border-radius: 5px;
	margin-bottom: 3rem;
}

	.featured-mezhozer-box {
	background-image:  linear-gradient(to right bottom, rgba(22, 122, 198, 0.6) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 193, 7, 0.4) 100%), url(/images/mezhozer.jpg);
	background-size: cover;
	background-position: center;
	font-size: 2.5rem;
			line-height: 0.95em;
			font-family: 'solomon_sans_bookregular';
			text-transform: uppercase;
			@include media-breakpoint-down(sm) { 
				font-size: 1.9rem;
				text-align: center;
			}
		.feature_mezhozer_description_img {
			box-shadow: inset 0px 4px 16px rgba(25, 25, 25, 0.84);
			
			
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 10rem 0;
			padding-right: 3rem;
			@include media-breakpoint-down(sm) {
			padding: 7rem 0;
			padding-right: 0rem;
			justify-content: center;
			}			
			.featured-title {
				color: #fff;
				text-shadow: 1px 1px 2px #000;
				padding: 1rem 1.5rem;
				border: 1px solid #fff;
				margin: 0;
				background-color: rgba(0, 0, 0, 0.4);
			}
			
		}

		.feature_mezhozer_description_text {
			box-shadow: inset 0px 4px 16px rgba(25, 25, 25, 0.84);
			background-image:  linear-gradient(to right bottom, rgba(22, 122, 198, 0.6) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 193, 7, 0.4) 100%),  url(/images/mezhozer2.jpg);
			background-size: cover;
			background-position: center;
			padding: 3rem 0;
			padding-left: 3rem;
			color: #fff;
			text-shadow: 1px 1px #000;
			@include media-breakpoint-down(sm) { 
			 .feature_mezhozer_description_content {
			 	padding: 0 2rem;
			 }
			}

		}
		


	}


	.featured-markhi-box {		
		background:  linear-gradient(to right bottom, rgba(22, 122, 198, 0.6) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 193, 7, 0.4) 100%), url(/images/markhi_taldom_gold.jpg) no-repeat center center;	
		
    	
		@include media-breakpoint-down(sm) {
			background:  linear-gradient(to left top, rgba(22, 122, 198, 0.6) 0%, rgba(255, 193, 7, 0.4) 100%), url(/images/markhi_taldom_gold.jpg) no-repeat;    	
			background-size: cover;
    		background-position: bottom;
		}	
		
		.featured-title {
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 2rem;
		font-size: 2rem;
		}

		img {
			width: 100%;
			height: auto;
			box-shadow: 0px 2px 20px rgba(25, 25, 25, 0.84);
			

			@include media-breakpoint-down(sm) {
				display: block;
				width: 75%;
				margin: 0 auto;
				margin-bottom: 2rem;

			}

		}

		.feature_markhi_description_text {
			padding: 1.2rem;			
			color: #2f2e2d;
			justify-content: center;
			font-size: 1rem;						
			font-size: 2.5rem;
			line-height: 0.95em;
			font-family: 'solomon_sans_bookregular';
			text-transform: uppercase;
			@include media-breakpoint-down(sm) { 
				font-size: 1.9rem;
				text-align: center;
			}
		}

	}

	.featured-airport-box {
		
		background:  linear-gradient(to left bottom, rgba(22, 122, 198, 0.4) 0%, rgba(255, 193, 7, 0.4) 100%), url(/images/sipaero.jpg) no-repeat center center;		    	
		
		@include media-breakpoint-down(sm) {
			background:  linear-gradient(to left bottom, rgba(22, 122, 198, 0.4) 0%, rgba(255, 193, 7, 0.4) 100%), url(/images/sipaero.jpg) no-repeat;    	
			background-size: cover;
    		background-position: bottom;
    		text-align: center;
		}	
    	
		img {
			max-width: 100%;
			@include media-breakpoint-down(sm) { 
			max-width: 75%;
			margin: 0 auto;
			}
		}
    	.featured-title {
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		margin-bottom: 2rem;
		font-size: 2rem;
		}

		.featured-airport-item {
		padding: 1.2rem;
		color: #000;		
		position: relative;
		height: 100%;		
		overflow: hidden;		
		justify-content: center;
		font-size: 2.5rem;
		line-height: 0.95em;
		font-family: 'solomon_sans_bookregular';
		text-transform: uppercase;
		@include media-breakpoint-down(sm) { 
			font-size: 1.9rem;
			text-align: center;
		}

		}
	}









	
}