.hero-shot {
	background: url(../images/heroshot.jpg) no-repeat;
    min-height: 20rem;
    width: 100%;
    display: block;
    background-position: 100% center;
    background-size: cover;
    p, div {
    	color: #fff;
    	padding: 0.5rem 1rem;
    }
}

.hero-date {
	font-family: 'solomon_sans_bookregular';
	font-size: 3rem;
    padding-left: 0 !important;
	margin-bottom: 2rem;
	line-height: 0.96em;
	p {padding-bottom: 2rem;}
	span {
		color: rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
	}
    @media (max-width: 1400px) {
    	font-size: 3rem;
	}    
	@media (max-width: 1200px) {
    	font-size: 3rem;
	}
    @media (max-width: 1000px) {
    	font-size: 1.5rem;
	}
	@include media-breakpoint-down(xs){
    	font-size: 1.5rem;
		span{
			display: block;
		}
	}	
}

.hero-title {
	font-family: 'solomon_sans_blackregular';
    font-size: 5rem;
    line-height: 0.96em;
    margin: 1rem 0;
	margin-bottom: 0;
	span {white-space: nowrap;}
    @media (max-width: 1400px) {
    	font-size: 4rem;
	}    
	@media (max-width: 1200px) {
    	font-size: 3.4rem;
	}
    @media (max-width: 1000px) {
    	font-size: 3rem;
		span {white-space: normal;}
	}
	@include media-breakpoint-down(xs){
    	font-size: 2rem;
		span {
			display: block;
		}
	}
}

.hero-slogan {
	font-family: 'solomon_sans_blackregular';
	font-size: 3rem;
	line-height: 0.96em;
	text-transform: uppercase;
	@media (max-width: 1000px) {
		font-size: 1.5rem;
	}
	@include media-breakpoint-down(xs){
		font-size: 1.5rem;
		text-align: center;
		span{
			display: block;
		}
	}
}

.hero-buttonbx {
	@include media-breakpoint-down(md){
		justify-content: center;
		display: flex;
	}
}

.govsupport {
	img {
		height: 5rem
	}
	p {width: 50%; margin: 0;}
    font-family: 'solomon_sans_boldbold';
	line-height: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    //visibility: hidden;
	@include media-breakpoint-down(md){
		justify-content: center;
	}


}