.hero-shot {
	background: url(../images/heroshot.jpg) no-repeat;
    min-height: 20rem;
    width: 100%;
    display: block;
    background-position: 100% center;
    background-size: cover;
    p, div {
    	color: #fff;
    	padding: 0.5rem 1rem;
    }
}

.hero-date {
	font-family: 'solomon_sans_bookregular';
	font-size: 3rem;
    padding-left: 0 !important;
	p {padding-bottom: 2rem;}
	span {
		color: rgba(255, 255, 255, 0.5);
		text-transform: uppercase;
	}
    @media (max-width: 1400px) {
    	font-size: 3rem;
	}    
	@media (max-width: 1200px) {
    	font-size: 3rem;
	}
    @media (max-width: 1000px) {
    	font-size: 1.5rem;
	}
	@include media-breakpoint-down(xs){
    	font-size: 0.8rem;
	}	
}

.hero-title {
	font-family: 'solomon_sans_blackregular';
    font-size: 5rem;
    line-height: 0.96em;
    margin: 3rem 0;
	span {white-space: nowrap;}
    @media (max-width: 1400px) {
    	font-size: 4rem;
	}    
	@media (max-width: 1200px) {
    	font-size: 3.4rem;
	}
    @media (max-width: 1000px) {
    	font-size: 3rem;
		span {white-space: normal;}
	}
	@include media-breakpoint-down(xs){
    	font-size: 2rem;
	}
}

.govsupport {
	img {
		height: 5rem
	}
	* {float: right}
	p {width: 50%; margin: 0;}
    font-family: 'solomon_sans_boldbold';
	line-height: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    //visibility: hidden;
}
$bg : lightyellow;
$hole : .4em;
.ticket {
	display: inline-block;
	box-sizing: content-box;
	filter: drop-shadow(0 2px 5px rgba(black,.5));
	position: relative;
	height: 1em;
	padding: 1em;
	color: black;
	font-size: 16px;
	background-size: 51% 100%;
	background-repeat: no-repeat;
	background-image: radial-gradient(circle at 0 50%, rgba($bg,0) $hole, $bg ($hole + .1em)), radial-gradient(circle at 100% 50%, rgba($bg,0) $hole, $bg ($hole + .1em));
	background-position: top left, top right;
	text-transform: uppercase;
	&:hover {
		color: #000;
		text-decoration: none;
		//background-image: radial-gradient(circle at 0 50%, rgba(#fff,0) $hole, #fff ($hole + .1em)), radial-gradient(circle at 100% 50%, rgba(#fff,0) $hole,#fff($hole + .1em));
		opacity: 0.9;
	}
}