.bizpro-section {
	.cc-h2 {
    font-family: solomon_sans_blackregular;
    text-transform: uppercase;
    text-align: center;
	}
	
	.cc-card {
		background: rgba(255, 255, 255, 0.4);
		margin-bottom: 2rem;
    	padding-top: 1rem;
	}

	.cc-h4-solid {
		color: #212529;
		span {
			 font-family: 'solomon_sans_bookregular';
		}
	}

	.gov-speakers {
		padding: 1rem;
		h3 {
			margin-bottom: 0;
		}
		.gov-speakeravatar {
			width: 100%;
		}
		.gov-speaker-position {
			font-size: 0.7rem;
			margin-bottom: 0.8em;
		}
		.gov-speaker-theme {
			line-height: 1em;
		}
	}

}


