.bizpro-section {
	.cc-h2 {
    font-family: solomon_sans_blackregular;
    text-transform: uppercase;
    text-align: center;
	}
	
	.cc-card {
		background: rgba(255, 255, 255, 0.4);
		margin-bottom: 2rem;
    	padding-top: 1rem;
	}

	.cc-h4-solid {
		color: #212529;
		span {
			 font-family: 'solomon_sans_bookregular';
		}
	}

}


