.transfer {
	background-image: url(/images/transfer-bg.jpg);
	background-repeat: none;
	background-size: cover;	
	background-position: center;
}

.t-section {
	color: #fff;
    font-family: 'solomon_sans_blackregular';
	font-size: 1.5rem;
	text-align: center;
	line-height: 1em;
	padding: 2rem 1rem;
	margin: 1.3rem 0;
	
	position: relative;
	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		right: -1px;
		bottom: 0;
		background: #fff;	
		width: 3px;
	}
	@include media-breakpoint-down(sm) {
	 	&:after {
		content: ' ';
		position: absolute;
		top: auto;
		left: 10%;
		right: 10%;
		bottom: -1px;
		height: 3px;
		background: #fff;
		width: 80%;	
		}
	 }
	&.t4:after {display: none}
}

.t-section-icon {
	background-repeat: no-repeat;
    background-position: center;
	padding-top: 3em;
    height: 7rem;
    display: block;
    margin-bottom: 1.52em;
}

.transfer-phones {
	a {
		font-size: 2.95rem;
		text-transform: uppercase;
		/* padding-bottom: 1rem; */
		line-height: 0.8em;
		display: block;
		text-align: right;
		color: #3c3f43;
		font-weight: 100;
		&:hover {
			text-decoration: none;
		}

		@include media-breakpoint-down(xs){
			font-size: 2rem;
			text-align: center;
		}
	}
}

@for $i from 1 through 4 {
	.t#{$i} .t-section-icon {background-image: url(../images/transfer-#{$i}.svg);}
}
