{% from 'macros/helpers.html' import sprite %}
{% from 'macros/helpers.html' import tr %}
<!doctype html>
<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ tr(title, lang) }}{% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <meta property="og:image" content="https://connectcrimea.ru/images/ccc2017_sq2.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="keywords" content="{{ tr(keywords, lang) }}" />
    <meta name="description" content="{{ tr(description, lang) }}">    
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1497186970589455";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43537019 = new Ya.Metrika2({ id:43537019, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43537019" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->  
    {% block content %}{% endblock %}
    {% block javascript %}
      <script src="/javascripts/app.js"></script>     
    {% endblock %}
    <script type="text/javascript" async="async" defer="defer" charset="UTF-8" src="https://timepad.ru/js/tpwf/loader/min/loader.js" data-timepad-customized="29343" data-twf2s-event--id="542545" data-timepad-widget-v2="event_register">
        (function(){
            return {
                "event": {
                    "id": "542545"
                },
                "hidePreloading": true,
                "display": "popup",
                "popup": {
                    "triggerSelector": "#buyticket"
                }
            }
        })();
    </script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(function () {
        var myMap = new ymaps.Map('map-container', {
                center: [44.98423039297836,34.13147458701319],
                zoom: 16
            }, {
                searchControlProvider: 'yandex#search'
            }),

           myPlacemark = new ymaps.Placemark([44.98514407836223,34.13321265845484], {
                hintContent: 'Connect Center',
                balloonContent: 'Выстовочный Центр Connect Center'
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: 'images/ccc-pin.png',
                // Размеры метки.
                iconImageSize: [75, 100],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [-37, -100]
            });

        myMap.geoObjects
            .add(myPlacemark)
    });
</script>
  </body>  
</html>
