<div class="cc-section-t2 cic2017">
	<div class="container">
    	<h2 class="cc-h2">{{ tr(cicHeader, lang) }}</h2>

	  <div class="row">

		<div class="col-md-5">
			<p class="cc-h5">{{ tr(about_cic1, lang) }}</p>
			<p class="cc-highlighted">{{ tr(about_cic2, lang) }} <a href="https://connectcrimea.ru/cic2017" target="_blank">{{ tr(readmore, lang) }}</a></p>
		</div>

		<div class="col-md-7">
		  <h4 class="cc-h4 col-12" style="padding: 0; border: 0;">{{ tr(photogall, lang) }}</h4>
		  {% include "shared/carousel.html" %}
		</div>
	</div>
	{% include "shared/testimonials.html" %}
		
	</div>	
</div>