<section class="cc-section-t2 bizpro-section">
	<div class="container">
		<h2 class="cc-h2">{{ tr(delprog, lang) }}</h2>
	</div>
		
		<div class="container">
		<h4 class="cc-h4-solid cc-orange"><span class="">27 {{ tr(october, lang) }}: </span> {{ tr(ccForum, lang) }}</h4>
			<div class="cc-card row">
				<div class="col-md-4 mb-4">
					<div class="row">
						<div class="col-3">
							<img src="/images/pavlenkov.jpg" alt="" class="rounded-circle img-shifted">
						</div>
						<div class="col-8 cc-tip">
		                  <p class="cc-h7">{{ tr(ccForumModerH, lang) }}</p>
		                  <p class="cc-small">{{ tr(ccForumModerBody, lang) }}</p>
		                </div>
	                </div>  
				</div>
				
	      		<div class="col-md-8">
	      		<h5 class="cc-h5">10:00 – 12:30</h5>          
	      		<h4 class="cc-h4">{{ tr(devSectionH, lang) }}</h4>          
	            <ul>
	                {{ tr(devSectionBody, lang) }}
	            </ul>
	            {% for p in stroySpeakersThemes %}
				<div class="cc-card gov-speakers">
					<div class="row">
						<div class="col-2">
						<img src="{{p.photo}}" alt="" class="rounded-circle gov-speakeravatar">
						</div>
						<div class="col-10">
							<h3>{{ tr(p.name, lang) }}</h3>
							<p class="gov-speaker-position">{{ tr(p.position, lang) }}</p>
							<p class="gov-speaker-theme">{{ tr(p.theme, lang) }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
	      		<h5 class="cc-h5">13:00 – 16:00</h5>          
	      		<h4 class="cc-h4">{{ tr(govSectionH, lang) }}</h4>          

	        	<ul>
	        		{{ tr(govSectionBody, lang) }}
	       		 </ul>
					{{ tr(govSpeakers, lang) }}
				{% for p in govSpeakersThemes %}
				<div class="cc-card gov-speakers">
					<div class="row">
						<div class="col-2">
						<img src="{{p.photo}}" alt="" class="rounded-circle gov-speakeravatar">
						</div>
						<div class="col-10">
							<h3>{{ tr(p.name, lang) }}</h3>
							<p class="gov-speaker-position">{{ tr(p.position, lang) }}</p>
							<p class="gov-speaker-theme">{{ tr(p.theme, lang) }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>
			</div>
		
		<div class="container">
			<h4 class="cc-h4-solid cc-darkbluegrad"><span class="">28 {{ tr(october, lang) }}: </span>{{ tr(busContExcH, lang) }}</h4>			
			<div class="cc-card biz-card">
			<div class="cc-tip">
					<p>{{ tr(busContExcBody, lang) }}</p>
			</div>
			<h5 class="cc-h4">{{ tr(participants, lang) }}</h5>
			<div class="row">			
			<div class="col-md-12">					
					<div class="cc-minicards">
			            {% for p in sec %}
			            {% if p.img %}
			            <div class="title-box">
			            <div class="row">
			            	<div class="col-4 minicards-logobx">
							<a href="{{p.link}}" target="_blank">
			            		<img class="minicards-logo"  src="{{p.img}}">
			            	</a>							
			            	</div>
			            	<div class="col-8 minicards-title"><p class="cc-small">{{ tr(p.content, lang) }}</p></div>
			            </div>
			            </div>
			            {% else %}
			            <h5 class="cc-h5">{{ tr(p.name, lang) }}</h5>
			           	<p class="cc-small">{{ tr(p.content, lang) }}</p>
			            {% endif %}
			            {% if not loop.last %} <hr> {% endif %}
			            {% endfor %}
			        </div>
				</div>		

			</div>
			
											
			</div>
		</div>
		
	
		<div class="container">
		<h4 class="cc-h4-solid cc-darkbluegrad"><span class="">29 {{ tr(october, lang) }}: </span>{{ tr(ccForeign, lang) }}</h4>
			<div class="cc-card">

				<div class="col-md-12"><p>{{ tr(ccForeignBody, lang) }}</p></div>
				<div class="row">
				{% for p in expert %}
				<div class="col-md-4 cc-speakerbx">
					<div class="cc-speaker">
						<img src="/images/{{p.photo}}" class="img-fluid" alt="">
						<h4 class="cc-h7">{{ tr(p.name, lang) }}</h4>
						<h6 class="cc-h6">{{ tr(p.country, lang)}}</h6>
						<p class="cc-small"><b>{{ tr(theme, lang)}}</b> {{ tr(p.theme, lang)}}</p>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>			
		</div>
	
</section>

