<div class="cc-testimonialsbox">
<div class="cc-testimonials" style="">
<!--Carousel Wrapper-->
    <h4 class="cc-h8 " style="padding: 0;margin-bottom: 2rem;text-align: center;">{{ tr(pressReviews, lang) }}</h4>
    <div id="carousel-testimonials" class="carousel carousel-fade " >

        <!--Slides-->
        <div class="carousel-inner" role="listbox">        
            {% for p in pR %}
            <div class="carousel-item {% if loop.first %} active {% endif %}">

                <div class="testimonial">
                    <!--Avatar-->
                    <div class="avatar">
                        
                    <a href='{{p.link}}'>
                        <img src="{{p.img}}" class="img-fluid">
                    </a>
                    </div>
                    <!--Content-->
                    <p>{{ tr(p.content, lang) }}</p>
                    <h4>{{ tr(p.name, lang) }}</h4>                                    
                </div>
            </div>
            {% endfor %}
                     
        </div>
        <!--/.Slides-->

        <!--Controls-->
          <a class="carousel-control-prev" href="#carousel-testimonials" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-prev-icon dark" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carousel-testimonials" role="button" data-slide="next">
            <span class="sr-only">Next</span>
            <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
          </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
</div>
</div>